 h1 {
    color:chocolate;
    font-size:200%;
    font-family:Cambria;
}
 p
 {
     color:black;
     font-size:105%;
     font-family:'Lucida Bright';
 }
 h2{
     color:mediumvioletred;
     font-size:150%;
     font-family:Century;
 }
ul li {
    color: black;
    font-size: 105%;
    font-family: 'Lucida Bright';
}
.column {
    float: left;
    width: 33.33%;
    padding: 3px;
}

.row::after {
    content: " ";
    clear: both;
    display: table;
}

label {
    font-weight: bold;
    font-size: 16px;
}

#submit_button {
    background-color: maroon;
    height: 30px;
    width: 20%;
    color: white;
    font-weight: bold;
}

input, textarea {
    background-color:white;
    color: black;
    width: 250px;
    margin-bottom: 10px;
    
}

